:root {
    --main-background-color: white;
    --main-text-color: black;
    --secondary-color: rgb(231, 67, 1);
    --tertiary-color: rgb(242, 242, 242);    
    --main-font: 'General Sans',Helvetica,Arial,sans-serif;
}

body {
    background-color: var(--main-background-color);
    color: var(--main-text-color);
    font-family: var(--main-font);
    margin: 0.5rem;
    padding: 0.6rem;
    line-height: 3rem;
}

h1 {
    color: var(--secondary-color);
}

a {
    color: var(--secondary-color);
    text-decoration: underline;
    padding: 0;
    margin: 0;
}

form, form > * {
    background-color: var(--tertiary-color);
}

form > * {
    margin: 0.5rem;
}

input:focus {
    background-color: var(--main-background-color);
}